/*header{
    background: pink;
    color: red;
    font-family: nombre de fuente -> sirve para cambiar el estilo de texto.
    line-height: alto de linea
    font-size :para asignar el tamaño de la fuente
    font-weight: peso de fuente (100-900 , normal 400, bold 600)
    font-style: normal, iralic, etc estilo de fuente
    letter-spacing: espacio entre lineas se recomienda que sea negativo -.2px
    text-transform: cambiar todo a mayusculas o minusculas;
    text-decoration: underline //decorado del parrafo
}*/


body{
    font-family:  'Baloo Thambi 2', cursive;
}

h1, h2, h3, h4{
    font-family: 'Comic Neue', cursive;
}

h1{
    font-size: 40px;
    line-height: 1.5em;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 2px;
    color: white;
    /*text-transform: uppercase;
    text-decoration: underline;*/
}

h1 strong{
    color: #026fff;
}

.project{
    /*border-top: 10px solid red;
    border-right: 10px solid green;
    border-left: 10px solid blue;
    border-bottom: 10px solid black;
    border-color: rebeccapurple;
    border-width: 15px;
    border-style: solid;
    border-top-color: saddlebrown;
    border-top-style: solid;*/

    border: 1px solid gray;
    border-radius: 10px;
   
    /* border-top-left-radius: 50px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 25px;*/

    
}

.project-details{
    width: 500px;
}
.project-imageContainer{
    width: 500px;
}
.hero{
    height: 300px;
    /**/
    background-image: url(../imagenes/abyss.jpg);
    background-size: 600px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #1b2127;
}
.header{
    background-color: #1b2127;
    color: white;
}
.header a{
    color: white;
    text-decoration: none;
    
}
